<table>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><%= @product.name %></td>
		<td><%= @product.price %></td>
		<td><%= link_to "Edit", edit_product_path(@product) %></td>
		<td><%= link_to "Destroy", @product, :confirm => "Are you sure?", 
											:method => :delete %></td>
	</tr>
</table>